img {
    width: 100%;
    border-radius: 4%;
}

.card {
    border: none;
}

.card-body, .list-group-item {
    padding: 0;
}

.list-group-item {
    border-right: 0;
    border-left: 0;
}

.channel-title {
    font-size: 1.5rem;
}

.channel-description-desktop {
    display: block;
}

.channel-description-mobile {
    display: none;
}

.channel-category-rss {
    display: flex;
}

.channel-category-rss > p {
    flex: 4;
    align-self: center;
}

.channel-category-rss > a {
    color: white;
    flex: 1;
    max-width: 60px;
}

.owner-name {
    font-weight: 500;
}

.episode-title {
    margin: 0;
}

.episode-date {
    font-weight: bold;
    font-size: 0.7rem;
}

.episode-description {
    color: #6c757d;
}

.btn {
    border-radius: 20px;
}

audio {
    width: 100%;
}

.audio-duration-ie {
    font-size: 13px;
}


@media (max-width: 576px) {
    .channel-description-desktop {
        display: none;
    }

    .channel-description-mobile {
        display: block;
    }
}