img {
    width: 100%;
    border-radius: 4%;
}

.pc-channel-title {
    font-size: 1.5rem;
}

.pc-channel-description-desktop {
    display: block;
}

.pc-channel-description-mobile {
    display: none;
}

.pc-channel-category-rss {
    display: flex;
}

.pc-channel-category-rss > p {
    flex: 4;
    align-self: flex-end;
}

.pc-channel-category-rss > a {
    color: white;
    flex: 1;
    max-width: 30px;
    display: flex;
    justify-content: center;
}

.pc-owner-name {
    font-weight: 500;
}

.pc-episode-date {
    font-weight: bold;
    font-size: 0.7rem;
}

.pc-episode-description {
    color: #6c757d;
}

/* .pc-pause-button {
    display: none;
} */

/* .btn {
    border-radius: 18px;
} */

@media (max-width: 576px) {
    .pc-channel-description-desktop {
        display: none;
    }

    .pc-channel-description-mobile {
        display: block;
    }
}


/* jPlayer classes */
.jp-audio {
    display: inline-block;
    width: 6%;
}

.jp-interface {
    position: relative;
    border-radius: 25px;
    padding: 10px 6px 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.jp-controls-holder {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.jp-controls {
    flex-basis: calc(100% / 9);
    flex-grow: 1;
}

.jp-play {
    background: transparent;
    color: #fff;
    border: none;
}

.jp-play:focus {
    outline: none;
}

.jp-progress {
    display: none;
    position: relative;
    flex-grow: 9;
    background-color: #ddd;
    height: 15px;
}

.jp-seek-bar {
    position: absolute;
    background-color: #fff;
    height: 15px;
    overflow: hidden;
    cursor: pointer;
}

.jp-play-bar {
    background: #43845c;
    height: 100%;
 }

.pc-drag-handler {
    position: absolute;
    width: 7.5px;
    height: 15px;
    background-color: #845c43;
    padding: 0px;
    transition: transform 0.15s ease-in-out;
}

.jp-time-control {
    display: none;
    padding: 0 10px;
}

.pc-gap {
    flex-basis: calc(100% / 9);
    flex-grow: 1;
    cursor: default;
}

.jp-time-labels {
    flex-grow: 9;
    display: flex;
    align-items: flex-start;
}

.jp-current-time {
    padding-left: 8px;
}

.jp-duration {
    margin-left: auto;
    padding-right: 2px;
}

.jp-current-time,
.jp-duration {
    font-size:.64em;
    font-style:oblique;
    color: #fff;
}
 