// $primary-color: $primary;
// $secondary-color: $secondary;
$primary-color: #5c4384;
$secondary-color: #43845c;
$tertiary-color: #fff;

$text-muted-color: #6c757d;

$rss-button-color: $tertiary-color;
$rss-button-background-color: $secondary-color;

$audio-player-color: $primary-color;
$seeking-color: $secondary-color;
$play-bar-color: $tertiary-color;
$play-button-color: $tertiary-color;
$time-label-color: $tertiary-color;

.pc-text-muted {
    color: $text-muted-color;
}

.card {

    & img {
        width: 100%;
        border-radius: 4%;
    }

    & .pc-channel-title {
        font-size: 1.5rem;
    }

    & .pc-owner-name {
        font-weight: 500;
    }

    & .pc-channel-description-mobile {
        display: none;
    }

    & .pc-channel-description-desktop {
        display: block;
    }

    & .pc-channel-category-rss {
        display: flex;

        & > p {
            flex: 4;
            align-self: flex-end;
        }

        & > a {
            color: $rss-button-color;
            flex: 1;
            max-width: 30px;
            display: flex;
            justify-content: center;
        }

        & .badge {
            color: $rss-button-color;
            background-color: $rss-button-background-color;
        }
    }
}

.list-group {

    & .pc-episode-date {
        font-weight: bold;
        font-size: 0.7rem;
    }

    & .pc-play-button-duration {
        display: flex;
        align-items: center;
    }

    /* jPlayer classes */
    & .jp-audio {
        display: inline-block;
        width: 46px;
        margin-right: 10px;

        & .jp-interface {
            position: relative;
            border-radius: 25px;
            padding: 10px 6px 10px 0;
            width: 100%;
            background-color: $audio-player-color;

            & .jp-controls-holder {
                display: flex;
                align-items: center;
                padding: 0 10px;

                & .jp-controls,
                .jp-current-time,
                .jp-duration {
                    flex-basis: 0%;
                    flex-grow: 1;
                }

                & .jp-play {
                    background: transparent;
                    color: $play-button-color;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }

                & .jp-progress {
                    display: none;
                    position: relative;
                    flex-basis: 100%;
                    flex-grow: 10;
                    background-color: $play-bar-color;
                    height: 4px;
                    margin: 0 6px;

                    & .jp-seek-bar {
                        position: absolute;
                        background-color: $play-bar-color;
                        height: 4px;
                        overflow: hidden;
                        cursor: pointer;

                        & .jp-play-bar {
                            background-color: $seeking-color;
                            height: 100%;
                        }
                    }

                    & .pc-drag-handler {
                        position: absolute;
                        top: -4px;
                        margin-left: -4px;
                        width: 12px;
                        height: 12px;
                        border-radius: 6px;
                        background-color: $seeking-color;
                        padding: 0;
                        transition: transform 0.15s ease-in-out;
                        cursor: pointer;
                    }

                }

                &  .jp-current-time {
                    text-align: end;
                }

                & .jp-current-time,
                .jp-duration {
                    display: none;
                    font-size: 0.64em;
                    color: $time-label-color;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .card {

        & .pc-channel-description-mobile {
            display: block;
        }
    
        & .pc-channel-description-desktop {
            display: none;
        }
    }
    
    .list-group {

        /* jPlayer classes */
        & .jp-audio {

            & .jp-interface {
                width: 100% !important;
            }

            & .pc-drag-handler {
                
                &.dragging {
                    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}